In [1]:
import sqlalchemy as sq
import sqlalchemy.orm
import sqlalchemy.ext.declarative
import datetime

In [2]:
engine = sq.create_engine("sqlite:///:memory:", echo=False)
Base = sqlalchemy.ext.declarative.declarative_base()
class Sample(Base):
    __tablename__ = "sample"
    id = sq.Column(sq.Integer, primary_key=True)
    name = sq.Column(sq.String)
    date = sq.Column(sq.String)
    point = sq.Column(sq.Integer)
Base.metadata.create_all(engine)
session = sqlalchemy.orm.sessionmaker(bind=engine)()

In [3]:
def add_data(session, rname, rpoint):
    date = datetime.datetime.now()
    rdate = "{}/{}/{}".format(date.year, date.month, date.day)
    session.add(Sample(name=rname, date=rdate, point=rpoint))
    session.commit()

In [4]:
add_data(session, "midorikawa", 100)

In [5]:
data = session.query(Sample)
for i in data:
    print(i.id, i.name, i.date, i.point)

1 midorikawa 2015/11/20 100

In [6]:
def take_data_all(session):
    data = session.query(Sample)
    rlist = []
    for i in data:
        rdict = {}
        rdict["id"] = i.id
        rdict["name"] = i.name
        rdict["data"] = i.date
        rdict["point"] = i.point
        rlist.append(rdict)
    return rlist

In [7]:
take_data_all(session)

[{'data': '2015/11/20', 'id': 1, 'name': 'midorikawa', 'point': 100}]

In [8]:
add_data(session,"kimura", 30)

In [9]:
add_data(session,"kitagawa", 98)

In [10]:
add_data(session,"sato", 69)

In [11]:
take_data_all(session)

[{'data': '2015/11/20', 'id': 1, 'name': 'midorikawa', 'point': 100},
 {'data': '2015/11/20', 'id': 2, 'name': 'kimura', 'point': 30},
 {'data': '2015/11/20', 'id': 3, 'name': 'kitagawa', 'point': 98},
 {'data': '2015/11/20', 'id': 4, 'name': 'sato', 'point': 69}]

In [12]:
dat = session.query(Sample)

In [13]:
dat

In [19]:
for i in dat :
    print(i.id)

1
2
3
4

In [20]:
td = "<>{}<>"

In [21]:
print(td.format("a"))
print(td.format("b"))
print(td.format("c"))
print(td.format("d"))
print(td.format("e"))

<>a<>
<>b<>
<>c<>
<>d<>
<>e<>