In [1]:
import sqlalchemy as sq
import sqlalchemy.orm
import sqlalchemy.ext.declarative

In [2]:
engine = sq.create_engine("sqlite:///:memory:",echo=False)
Base = sqlalchemy.ext.declarative.declarative_base()
class Data(Base):
    __tablename__="data"
    id = sq.Column(sq.Integer,primary_key=True)
    name = sq.Column(sq.String)
    age = sq.Column(sq.Integer)
    
class Test(Base):
    __tablename__="test"
    id = sq.Column(sq.Integer, primary_key=True)
    num = sq.Column(sq.Integer)
    point = sq.Column(sq.Integer)

Base.metadata.create_all(engine)
pre_session = sqlalchemy.orm.sessionmaker(bind=engine)
session = pre_session()

In [3]:
session.add_all([Data(name="midorikawa", age=24),
               Data(name="suzuki", age=23),
               Data(name="tamura", age=20)])
session.add_all([Test(num=1, point=100),
                 Test(num=2, point=98),
                 Test(num=4, point=50),
                 Test(num=3, point=80)])

In [4]:
session.commit()

In [5]:
t = session.query(Test)
for i in t:
    print(i.id, i.num, i.point)
s = session.query(Data)
for i in s:
    print(i.id, i.name, i.age)

1 1 100
2 2 98
3 4 50
4 3 80
1 midorikawa 24
2 suzuki 23
3 tamura 20

In [6]:
age_23 = session.query(Data).filter(Data.age == 23).first()

In [7]:
print(age_23.id, age_23.name, age_23.age)

2 suzuki 23

In [8]:
num_1 =session.query(Test).filter(Test.num == 1).first()
print(num_1.id, num_1.num, num_1.point)

1 1 100

In [9]:
up = session.query(Test).filter(Test.num >= 2)
for i in up:
    print(i.id, i.num, i.point)

2 2 98
3 4 50
4 3 80

In [10]:
update = session.query(Data).filter(Data.id == 1).first()
update.name = "makoto"
update.age = 15

In [11]:
session.commit()

In [12]:
t = session.query(Test)
for i in t:
    print(i.id, i.num, i.point)
s = session.query(Data)
for i in s:
    print(i.id, i.name, i.age)

1 1 100
2 2 98
3 4 50
4 3 80
1 makoto 15
2 suzuki 23
3 tamura 20