In [1]:
import sqlalchemy as sq
import sqlalchemy.orm
import sqlalchemy.ext.declarative

In [2]:
engine = sq.create_engine("sqlite:///:memory:", echo=False)
Base = sqlalchemy.ext.declarative.declarative_base()
class Data(Base):
    __tablename__ = "data"
    id = sq.Column(sq.Integer, primary_key=True)
    name = sq.Column(sq.String)
    age = sq.Column(sq.Integer)
Base.metadata.create_all(engine)
session = sqlalchemy.orm.sessionmaker(bind=engine)()

In [3]:
session.add_all([Data(name="midorikawa", age=34),
                Data(name="suzuki", age=24),
                Data(name="kimura", age=44)])

In [4]:
session.commit()

In [6]:
member = session.query(Data).filter(Data.name == "midorikawa").one()
print(member.id, member.name, member.age)

1 midorikawa 34

In [6]:
member.name = "sato"
session.commit()

In [7]:
member = session.query(Data).filter(Data.id == 1).first()
print(member.id, member.name, member.age)

1 sato 34

In [8]:
session.delete(member)

In [9]:
session.commit()

In [10]:
members = session.query(Data)
for i in members:
    print(i.id, i.name, i.age)

2 suzuki 24
3 kimura 44

In [11]:
session.add(Data(name="midorikawa", age="24"))

In [12]:
session.commit()

In [13]:
members = session.query(Data)
for i in members:
    print(i.id, i.name, i.age)

2 suzuki 24
3 kimura 44
4 midorikawa 24

In [16]:
mem = session.query(Data).filter(Data.name == "suzuki").first()

In [18]:
mem.name

'suzuki'